name: iOS

on: [push]

jobs:
  build:
    runs-on: macos-latest
    timeout-minutes: 25

    env:
      DEVELOPER_DIR: /Applications/Xcode_11.2.app

    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Node
      uses: actions/setup-node@v1

    - name: Cache node modules
      uses: actions/cache@v1
      id: cache
      with:
        path: node_modules
        key: node-modules-${{ hashFiles('**/yarn.lock') }}

#     - name: Install detox
#       run: yarn global add expo-detox-cli
#     - name: Rebuild detox
#       if: steps.cache.outputs.cache-hit == 'true'
#       run: yarn detox clean-framework-cache && yarn detox build-framework-cache

    - name: Detoxxx
      run: npm install -g expo-detox-cli && expotox clean-framework-cache && expotox build-framework-cache
    
    - name: Install Dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: yarn install

    - name: Prepare Detox
      run: |
        brew tap wix/brew
        brew install applesimutils

    - run: yarn global add expo-cli
    - name: Do the magic
      run: |
        expo start --no-dev --minify &
        sleep 20
        xcrun simctl io booted recordVideo recording.mov &
        sleep 5
        export RECORDING_PID=${!}
        echo "Recoding simulator with pid: ${RECORDING_PID}"
        yarn e2e-test
        kill -SIGINT $RECORDING_PID
        sleep 10
        cp recording.mov /tmp/e2e_test
    - name: upload recording
      uses: actions/upload-artifact@master
      with:
        name: e2e_test_recording_${{ matrix.device }}
        path: /tmp/e2e_test
