name: iOS

on: [push]

jobs:
  build:
    runs-on: macos-latest
    timeout-minutes: 15

    env:
      DEVELOPER_DIR: /Applications/Xcode_11.2.app

    steps:
    - run: xcode-select -p
    - run: xcrun simctl list
    - run: open /Applications/Xcode_11.2.app/Contents/Developer/Applications/Simulator.app/
