name: iOS

on: [push]

jobs:
  build:
    runs-on: macos-latest
    timeout-minutes: 25

    env:
      DEVELOPER_DIR: /Applications/Xcode_11.2.app

    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Node
      uses: actions/setup-node@v1

    - name: Cache node modules
      uses: actions/cache@v1
      id: cache
      with:
        path: node_modules
        key: node-modules-${{ hashFiles('**/yarn.lock') }}
    
    - name: Install Dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: yarn install

    - name: Prepare Detox
      run: |
        brew tap wix/brew
        brew install applesimutils
    - run: npm install -g expo-detox-cli && expotox clean-framework-cache && expotox build-framework-cache
    - run: open /Applications/Xcode_11.2.app/Contents/Developer/Applications/Simulator.app/
    - run: yarn global add expo-cli
    - name: Do the magic
      run: |
        yarn start --no-dev --minify &
        sleep 60
        xcrun simctl openurl booted exp://127.0.0.1:19000
        mkdir -p ${{ github.workspace }}/artifact
        cd ${{ github.workspace }}/artifact
        xcrun simctl io booted screenshot screenshot.png
        sleep 20
        yarn e2e-test
      
    - name: upload screenshot
      uses: actions/upload-artifact@master
      if: failure()
      with:
        name: e2e_ios_simulator_screenshot_${{ matrix.device }}
        path: ${{ github.workspace }}/artifact/**/*
        if-no-files-found: 'warn'
